{% extends 'home/logbase.html' %}
{% load static %}
{% block body %}
<body>

    <header class="w3-heading py-lg-5 pt-5 text-center">
        <h1 class="text-dark">Services</h1>
    </header>
<main class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
        <section class="content-section bg-dark " >
            <main class="container">
                <div class="row">
                    <div class="col-md-4">
                           <div class="container" margin-top:90px>
                             <img src="{% static 'home/image/pc.jpg' %}" alt="Avatar" width="300px" class="image">
                           </div>
                    </div>
                    <div class="col-md-8">
                        <div class="container">
                            <h3 class="text-white text-center">Pre-construction services</h3>   
                            <p class="text-warning"> Everything starts with pre-construction services. As soon as the journey for a new building project begins, there is a number of tasks and questions that the team should look into. Simply put, this is the time where an idea is gradually turning into an actual project and that practical aspects of the vision in discussion are analysed. </p>      
                        </div>
                    </div>
                </div>
            </main>
        </section>
        <section class="content-section bg-dark " >
            <main class="container">
                <div class="row">
                    <div class="col-md-4">
                           <div class="container">
                             <img src="{% static 'home/image/pm.jpg' %}" alt="Avatar" width="300px" class="image">
                           </div>
                    </div>
                    <div class="col-md-8">
                        <div class="container">
                            <h3 class="text-white text-center">project management</h3>  
                            <p class="text-warning"> Once the project starts progressing, there are many different elements that should be taken into consideration. From project initiation to closure, there should be solid collaboration between the various agents and good team coordination.


                                It goes without saying that, data plays a substantial role in this process and allow quick and well-analysed decisions. </p>       
                        </div>
                    </div>
                </div>
            </main>
        </section>
        <section class="content-section bg-dark " >
            <main class="container">
                <div class="row">
                    <div class="col-md-4">
                           <div class="container">
                             <img src="{% static 'home/image/db.jpeg' %}" alt="Avatar" width="300px" class="image">
                           </div>
                    </div>
                    <div class="col-md-8">
                        <div class="container">
                            <h3 class="text-white text-center">Design-build</h3>
                            <p class="text-warning">The design-build method has attracted a lot of attention lately. Having the same team providing both the design and construction services can boost your project’s efficiency and minimize risk. Moreover, keeping the design and construction phases connected can help you obtaining a better understanding of the potential challenges that might come along you</p>
                        </div>
                    </div>
                </div>
            </main>
    </section>    
    <section class="content-section bg-dark " >
        <main class="container">
            <div class="row">
                <div class="col-md-4">
                       <div class="container">
                         <img src="{% static 'home/image/bs.jfif' %}" alt="Avatar" width="300px" class="image">
                       </div>
                </div>
                <div class="col-md-8">
                    <div class="container">
                        <h3 class="text-white text-center">Building services</h3>
                        <p class="text-warning"> 
                            Our design/build services are the right fit for many of our clients.  This integrated approach encourages each discipline at the table to offer valuable information focused on design, constructability and budget throughout all phases of the project.  Ideas build upon one another, and designs progress with creative solutions and cost- and time-saving alternatives that ensure your vision.  From concept to completion, our team works seamlessly to create a streamlined and rewarding client experience, a process that delivers real value, and a final product that exceeds expectations. </p>
                    </div>
                </div>
            </div>
        </main>
    </section>
    <section class="content-section bg-dark " >
        <main class="container">
            <div class="row">
                <div class="col-md-4">
                       <div class="container">
                         <img src="{% static 'home/image/as.jpg' %}" alt="Avatar" width="300px" class="image">
                       </div>
                </div>
                <div class="col-md-8">
                    <div class="container">
                        <h3 class="text-white text-center">Architectural Design</h3>
                        <p class="text-warning"> 
                            After the standards are set during the pre-construction phase, the client will have a comprensive understanding of the and financial needs, project schedule, cost, job site, and your facility’s architectural and mechanical requirements. Next, your construction team and project managers partner with the architectural team to value engineer cost savings into the design.

                        </p>
                    </div>
                </div>
            </div>
        </main>
    </section>
    <section class="content-section bg-dark " >
        <main class="container">
            <div class="row">
                <div class="col-md-4">
                       <div class="container">
                         <img src="{% static 'home/image/ms.jpg' %}" alt="Avatar" width="300px" class="image">
                       </div>
                </div>
                <div class="col-md-8">
                    <div class="container">
                        <h3 class="text-white text-center">Mechanical Services</h3>   
                        <pre class="text-warning">
1.Firefighting Systems
2.Elevators & Escalators
3.HVAC Systems (heating, ventilation, and air-conditioning
 systems)
4.Gas Supply Systems (such as for heating and cooking in
residential buildings, or oxygen and nitrogen in hospitals)
5.Compressed Air Systems used in industries  
                        </pre>     
                    </div>
                </div>
            </div>
        </main>
    </section>
    <section class="content-section bg-dark " >
        <main class="container">
            <div class="row">
                <div class="col-md-4">
                       <div class="container">
                         <img src="{% static 'home/image/es.jpg' %}" alt="Avatar" width="300px" class="image">
                       </div>
                </div>
                <div class="col-md-8">
                    <div class="container">
                        <h3 class="text-white text-center">Electrical Services</h3>         
                        <pre class="text-warning">
1.Power Supply
2.Backup Power (such as diesel generators)
3.Emergency Power (such as battery-based 
uninterrupted power supply)
                        </pre>
                        
                    </div>
                </div>
            </div>
        </main>
    </section>  
    <section class="content-section bg-dark " >
        <main class="container">
            <div class="row">
                <div class="col-md-4">
                       <div class="container">
                         <img src="{% static 'home/image/ps.png' %}" alt="Avatar" width="300px" class="image">
                       </div>
                </div>
                <div class="col-md-8">
                    <div class="container">
                        <h3 class="text-white text-center">Plumbing Systems</h3>         
                        <pre class="text-warning"> 
1.Water Supply
2.Drainage of Wastes
3.Water Recycling Systems 
4.Rainwater Harvesting
5.Storm Water Drainage

                        </pre>
                    </div>
                </div>
            </div>
        </main>
    </section>  
    </div>
    </div>   
    </div>
</main>

</body>
{% endblock %}