
{% extends 'home/base.html' %}
{% load static %}

{% block title %}
   About Blog
{% endblock %}

{% block body %}
<body style="background-color:lightseagreen;">
 
        <main class="container">
               <div class="row">
                   <div class="col-md-6">
                    <img src="{% static 'home/image/login2.png' %}" alt="Avatar" width="100%">

                   </div>
                        
                    <section class="contact content-section col-md-6" style="border: rgb(56, 20, 14);">
                                   <form id="login-form" class="form" action="" method="post">
                        <h1 class=" text-center"><b>Forger Password</b></h1></b><hr>
                        <div class="text-center ">
                            {% csrf_token %}
                            <b>
                            {{form.as_p}}
                            </b>
                            <input type="submit" name="submit" class="btn btn-dark btn-md" value="Reset Password">
                            <a class="btn btn-dark " href="/user/login/">Login_Again</a> <br><br>
                           
                        </div>                         
                    </form> 
                    </section>
                   
           </main>
</body>

{% endblock %}