

{% extends 'home/logbase.html' %}
{% load static %}

{% block title %}
   About Blog
{% endblock %}

{% block body %}
<body style="background-color:lightseagreen;">
 
        <main class="container">
               <div class="row">
                   <div class="col-md-6">
                    <img src="{% static 'home/image/login.png' %}" alt="Avatar" width="100%">

                   </div>
                        
                    <section class="contact content-section col-md-6" style="border: rgb(56, 20, 14);">
                                   <form id="login-form" class="form" action="" method="post">
                        <h1 class=" text-center"><b>Change Password</b></h1></b><hr>
                        <div class="text-center ">
                            {% csrf_token %}
                            <b>
                                {% for fm in form %}
                                {{ fm.label_tag }} {{ fm }} {{ fm.errors|striptags }}<br>
                                {% endfor %}
                            </b>
                            <input type="submit" name="submit" class="btn btn-dark btn-md" value="Change Password">                         
                        </div>                         
                    </form> 
                    </section>
                   
           </main>
</body>

{% endblock %}